// ABOUT SECTION
#about {
    background-color: #000;
    height: 100vh;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-basis: 95vw;
    height: 95vh;
    justify-content: center;
    align-content: space-around;
    border: 1px dashed red;

    .about-img-box{
        flex-direction: column;
        color: black;
        height: 100%;
        border: 1px dashed yellow;


        .developer-img {
            margin: 10% 0 0 0;
            height: 40vh;
            width: auto;
        }

        h3{
            color: $secondary;
            font-family: $primary-font;
            font-size: 2vw;
            text-align: center;
            margin: 0;
            text-shadow: 1px 1px #000, 2px 1px $tertiary;
            letter-spacing: 3px;

            span {

                //TODO - CREATE ROLLING COLOR OF tertiary and fourth
                font-family: $secondary-font;
                width: 10vw;
                height: 5vh;
                text-align: center;
                font-size: 1.3vw;
                color: $tertiary;
                text-shadow: 1px 1px #000, 2px 1px $tetrad-color;
                letter-spacing: 3px;
            }
        }

        ul {
            width: 90%;
            height: 20vh;
            margin: 0 2vw;

            li  {
                text-align: left;
                list-style: none;


                a {
                    text-decoration: none;
                    color: $tertiary;
                    font-size: 1.5rem;

                    i {
                        color: $tetrad-color;
                    }

                    &:hover {
                        color: $secondary;
                        text-shadow: 1px 1px #000, 2px 1px $tetrad-color;
                    }
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }


}


/*
@media screen and (min-width: 1198px ) {

    //Laptop RESPONSIVE VIEW


    .about-para p{
        font-size: .2vw;
        text-wrap: none;
    }


}
*/


/*
//TABLET VIEW RESPONSIVENESS FOR ALL COMPONENTS

@media screen and (max-width:1024px ) {

    //TABLET RESPONSIVE VIEW


    .about-para p{
        font-size: 1px;
        text-wrap: none;
    }


}

@media screen and (max-width:425px ) {

    //Phone RESPONSIVE VIEW

}

*/