
//header
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 99.8%;
  height: 6.5vh;
  text-shadow: 1px 1px #000;
  //margin: 0;

  
  p {
    align-items: flex-start;

    font-family: $primary-font;
    color: $secondary;
    //margin: 1% 5%;
    font-size: 2em;
    text-shadow: 1px 1px $tertiary, 4px 2px #000;
    animation: 1s fadein 0.5s forwards;

    span{
      color: $tertiary;
    }
  }
}
@keyframes fadein {
  100% {
    opacity: 1;
  }
}
//NAV
nav{
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 40%;
  align-self: flex-end;
  align-items: center;
  height: 100%;
  //width: 60%;
  //margin: 0 auto;
  float: right;



  .dropdown{
    flex-basis: 100%;
    height: 100%;
    margin: 0;

    li{
      list-style: none;

      i {
        display: none;
      }
    }

    &>.dropdown-content{
      display: flex;
      flex-direction: row;
      flex-basis: 100%;
      align-content: center;
      height: 100%;
      border: 1px dashed green;
    }

    .dropdown-content li{
      align-content: space-around;
      align-items: center;
      flex-basis: 14%;
      font-family: $secondary-font;
      display: inline-block;
      height: 4vh;
      padding: 1%;
      text-align: center;

      transition: all 1s ease-out;
      &:hover {
        text-shadow: 1.5px 1.5px #000;
      }

    li i{
      margin: 0;
      padding: 0;
      display: none;

      .dropdown-content{

        margin: 0;
      }
    }

    }


  }
  a{
    font-size: 1.5em;
    word-spacing: 4px;
    color: $tetrad-color;
    text-decoration: none;
    padding: auto;
    text-transform: uppercase;
    font: $secondary-font;

    &:hover {
      text-decoration: underline;
      color: $secondary;
    }
  }
}

