
//header
header{
  width: 99.8%;
  height: 6.5vh;
  background-color: #000;
  margin: 0;
  
  p {
    font: $primary-font;
    color: $secondary;
    margin: 1% 5%;
    font-size: 2rem;
  }
}

//NAV
nav{
  height: 100%;
  width: 60%;
  margin: 0 auto;
  float: right;

  

  ul{
    margin: 0;
    height: 100%;

    li{
      display: inline-block;
      margin: 0 2%;
      height: 59%;
      padding: 1%;
      text-align: center;
      
      
    }
  }
  a{
    font-size: 1.5rem;
    word-spacing: 4px;
    color: $primary;
    text-decoration: none;
    padding: auto;
    text-transform: uppercase;
    font: $secondary-font;

    &:hover {
      text-decoration: underline;
      color: $secondary;
    }
  }
}

