/* home*/
#home {
  background-color: #000;
  background-image: url("../imgs/background-plain.png");
  background-repeat: no-repeat;
  background-size: cover;
}


#heroTitle-box {
  margin: 60vh auto 0 auto;
  text-align: center;
  width: 33%;
  vertical-align: middle;


  h1 {
    color: $secondary;
    font-size: 5rem;
    margin: 0;
    text-shadow: 1px 1px $tertiary, 4px 2px #000;
    font-family: $primary-font;

  }

  span {
    font-family: $secondary-font;
    font-size: 2rem;
    color: $tertiary;
    text-shadow: 1px 1px #000, 2px 1px $tetrad-color;
    text-transform: uppercase;
  }
}
//TODO ADD fade in and out animation
.MockUp-One-Box {
    //z-index: 2;
    //position:absolute;
    margin: 5px;
    border: 1px solid red;

    .MockUp-One {
        display: none;
        border: 1px dashed orange;
        margin: 50%;
    }
}

.MockUp-Two-Box {

    .MockUp-Two {

    }
}



.MockUp-Three-Box {

    .MockUp-Three {

    }
}

.MockUp-Four-Box {

    .MockUp-Four {

    }
}
