// Skills Mini Section
.skills-section {
  flex-direction: column;
  background-color: #000;
  width: 100%;
  height: 100%;

  .about-para{
    background-color: rgba(0,0,0,0.5);
    font-size: 120%;
    height: 31vh;

    p {
      font-family: $secondary-font;
      font-size: 150%;
      margin: 1% 5%;
      text-align: center;
      color: $secondary;
    }
  }

  h2 {
    Font-family: $primary-font;
    margin: 0;
    text-shadow: 1px 1px #000, 2px 1px $tertiary;
    letter-spacing: 3px;
  }
}


.skill-lists-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 56vh;
  margin: 0;

  .programming-list {
    color: $tertiary;
  }

}

.skill-list-box {
  flex-direction: column;
  width: 50%;
  height: 100%;

  h3 {
    font-size: 220%;
    text-align: center;
    text-shadow: 1px 1px #000, 2px 1px $tertiary;
    letter-spacing: 3px;


    font-family: $primary-font;
    color: $tetrad-color;
    text-decoration: underline;
    text-decoration-color: $secondary;
  }

  ul {
    list-style: none;
    font-family: $secondary-font;

    li {
      text-decoration: none;
      text-align: center;
      font-size: 150%;
    }
  }
}

.web-tech-list {
  flex-direction: column;
  width: 50%;
  height: 100%;

  h3 {
    font-size: 220%;
    text-align: center;
    text-shadow: 1px 1px #000, 2px 1px $tertiary;
    letter-spacing: 3px;
    color: $secondary;

    text-decoration: underline;
    text-decoration-color: $tetrad-color;
    font-family: $secondary-font;
  }

  ul {
    list-style: none;
    font-family: $secondary-font;

    li {
      color: $tetrad-color;
      width: 100%;
      text-decoration: none;
      text-align: center;
      font-size: 150%;
    }
  }
}


.mobile-tech-box {
  width: 100%;
  height: auto;
  margin: 10% 0;

  h3 {
    color: $secondary;
    text-decoration: underline;
    text-decoration-color: $tetrad-color;
    font-family: $secondary-font;
  }

  ul {
    list-style: none;
    font-family: $secondary-font;

    li {
      color: $tetrad-color;
      width: 100%;
      text-decoration: none;
      text-align: center;
      font-size: 150%;
    }
  }

}