/*
  Name font: Aardvark Cafe
  Main font: Futura Black BT


  Primary Colors
  Green: #03fa50;
  Blue:  #010fc7;
  brown: #93901a;
*/

//Primary Colors
$Primary: #010fc7;
$Secondary: #03fa50;
$Tertiary:  #93901a;

body { 
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;

/* home*/

#home {
  background-color: #000;
  background-image: url("../imgs/background-plain.png");
  background-repeat: no-repeat;
  background-size: cover;
}



  //import header
  @import './_header.scss';

  

  //import _gallery
  @import '_gallery';

  .gallery-thumb-box {
    background-color: black;
  }

  //import _contact
  @import '_contact';

  //import footer
  @import '_footer';
}

section{
  width: 100%;
  height: 100vh;
  border: 1px dotted yellow;
}

#heroTitle{
  margin: 60vh 0 0 0;
  text-align: center;
  
  h1{
    font-size: 5rem;
  }
}

