/*
  Name font: Aardvark Cafe
  Main font: Futura Black BT


*/

@font-face {
  font-family: Futura;
  src: url(fonts/FUTURA_BLACK_BT.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Aardvark;
  src: url(fonts/AARDVARK_CAFE.TTF);
  font-weight: normal;
}

//FONTS
$primary-font: Futura;
$secondary-font: Aardvark;

//Primary Colors
$primary: #010fc7;
$secondary: #03fa50;
$tertiary:  #c3c022;
$fourth: #00ffff;

//body set-up
body {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;


  section {
    width: 100%;
    height: 100vh;
    border: 1px dotted yellow;
  }
}


  //import home
  @import '_home.scss';
  //import header
  @import '_header.scss';

  //import gallery
  @import '_gallery.scss';

  //import about
  @import '_about.scss';

  //import contact
  @import '_contact.scss';

  //import footer
  @import '_footer.scss';

  // got this


