/*
  Name font: Aardvark Cafe
  Main font: Futura Black BT


*/
@font-face {
  font-family: Futura;
  src: url(fonts/FUTURA_BLACK_BT.ttf);
  font-weight: normal; }
@font-face {
  font-family: Aardvark;
  src: url(fonts/AARDVARK_CAFE.TTF);
  font-weight: normal; }
body {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%; }
  body section {
    width: 100%;
    height: 100vh;
    border: 1px dotted yellow; }

/* home*/
#home {
  background-color: #000;
  background-image: url("../imgs/background-plain.png");
  background-repeat: no-repeat;
  background-size: cover; }

#heroTitle-box {
  margin: 60vh auto 0 auto;
  text-align: center;
  width: 33%;
  vertical-align: middle; }
  #heroTitle-box h1 {
    color: #03fa50;
    font-size: 5rem;
    margin: 0;
    text-shadow: 4px 2px #000;
    font: Futura; }
  #heroTitle-box span {
    font-size: 2rem;
    color: #c3c022;
    text-shadow: 2px 2px #000;
    text-transform: uppercase; }

.MockUp-One-Box {
  margin: 5px;
  border: 1px solid red; }
  .MockUp-One-Box .MockUp-One {
    display: none;
    border: 1px dashed orange;
    margin: 50%; }

header {
  width: 99.8%;
  height: 6.5vh;
  text-shadow: 1px 1px #000;
  margin: 0; }
  header p {
    font: Futura;
    color: #03fa50;
    margin: 1% 5%;
    font-size: 2rem; }

nav {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  float: right; }
  nav ul {
    margin: 0;
    height: 100%; }
    nav ul li {
      display: inline-block;
      margin: 0 2%;
      height: 59%;
      padding: 1%;
      text-align: center;
      transition: all 1s ease-out; }
      nav ul li:hover {
        text-shadow: 1.5px 1.5px #000; }
  nav a {
    font-size: 1.5rem;
    word-spacing: 4px;
    color: #00ffff;
    text-decoration: none;
    padding: auto;
    text-transform: uppercase;
    font: Aardvark; }
    nav a:hover {
      text-decoration: underline;
      color: #03fa50; }

#gallery {
  width: 100%;
  height: 100vh;
  background-color: #010fc7; }

h2 {
  color: #00ffff;
  text-align: center;
  font-size: 3rem;
  margin: 1%;
  text-shadow: 1px 1px #000;
  text-transform: uppercase; }

.gallery-container {
  width: 95%;
  height: 85vh;
  margin: 1% 2.5%;
  padding: 0;
  background-color: black;
  /* overflow-y: scroll; */
  position: absolute; }
  .gallery-container .gallery-row {
    width: 95%;
    height: 45%;
    margin: 1.5% 2.5%; }
  .gallery-container .project-box {
    width: 20%;
    height: 90%;
    margin: 1% 2%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2% 2%;
    box-shadow: 3px 1.5px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out; }
    .gallery-container .project-box h3 {
      text-align: center;
      font-size: 2.5rem;
      background-color: #000;
      margin: 0;
      color: #c3c022; }
    .gallery-container .project-box p {
      font-size: 90%;
      text-align: center;
      width: 100%;
      height: auto;
      margin: 0 auto;
      color: #03fa50; }
    .gallery-container .project-box .sub-category {
      font-size: 95%; }
    .gallery-container .project-box:hover {
      width: 19.5%;
      background-color: rgba(0, 0, 0, 0.5); }

.projectThumbBox {
  width: 100%;
  height: 70%;
  margin: 0; }
  .projectThumbBox img {
    border: 1px dashed red;
    width: 100%;
    height: 100%;
    margin: 0; }
    .projectThumbBox img:hover {
      opacity: 0.3; }
  .projectThumbBox .project-description {
    width: 19%;
    height: 15%;
    top: 19%;
    background-color: white;
    position: absolute;
    opacity: 0.3%; }

/*# sourceMappingURL=style.css.map */
