# Created by .ignore support plugin (hsz.mobi)

# BLOCKED DIRECTORIES
.personal-data/
.idea/
.MockUp/
.vscode/


# BLOCKED FILES
scss/style.css.map
scss/.sass-cache
scss/fonts/AARDVARK_CAFE.TTF
scss/fonts/FUTURA_BLACK_BT.ttf
scss/fonts/aardvark_cafe.zip
scss/fonts/futurablack-bt.zip
Portfolio-Design-6-CURRENT.code-workspace
node_modules/
package-lock.json
package.json
