# Created by .ignore support plugin (hsz.mobi)
*.ftp-data
.personal-data
scss/style.css.map
.idea/
.idea/workspace.xml

scss/.sass-cache
scss/fonts/AARDVARK_CAFE.TTF
scss/fonts/FUTURA_BLACK_BT.ttf
scss/fonts/aardvark_cafe.zip
scss/fonts/futurablack-bt.zip
.MockUp